@model WebStore.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form method="post" asp-action="Login">
                        <input asp-for="UserName" placeholder="@nameof(Model.UserName)"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        <input asp-for="Password" placeholder="@nameof(Model.Password)"/>
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <span>
                            <input asp-for="RememderMe" class="checkbox">
                            Сохранить
                        </span>
                        
                        <button type="submit" value="Login" class="btn btn-default" >Login</button>
                       
                    </form>
                </div><!--/login form-->
            </div>            
        </div>
    </div>
</section><!--/form-->