@model WebStore.ViewModels.RegisterUserViewModel
@{
    ViewData["Title"] = "Login";
}


<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form method="post" asp-action="Register">
                        <input asp-for="UserName" placeholder="@nameof(Model.UserName)" />
                        <span asp-validation-for="UserName" class="text-danger" />
                        <input asp-for="Email" placeholder="@nameof(Model.Email)" />
                        <span asp-validation-for="Email" class="text-danger" />
                        <input asp-for="Password" placeholder="@nameof(Model.Password)" />
                        <span asp-validation-for="Password" class="text-danger" />
                        <input asp-for="ConfirmPassword" placeholder="@nameof(Model.ConfirmPassword)" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger" />
                        <div class="form-group">
                            <button type="submit" value="Register" class="btn btn-default">Register</button>
                        </div>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->